{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SpaceBio</title>
    <link rel="icon" href="{% static 'articles/img/fig1.png' %}" />
    <!-- TAILWIND CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />

    <!-- JAVASCRIPT -->
    <script src="{% static 'js/header_basehtml.js' %}"></script>

    <!-- FLATICON ICONS -->
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/2.2.0/uicons-regular-rounded/css/uicons-regular-rounded.css" />

    <!-- SPLIDE CSS -->
    <link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/themes/splide-sea-green.min.css" rel="stylesheet" />

    <script></script>
  </head>
  <body class="flex flex-col h-full bg-background duration-500">
    <!-- NAVBAR -->
    <div id="navWrap" class="top-0 w-full z-10">
      <nav id="navbar" class="backdrop-blur border-b bg-primary2/75 border-text/15 flex justify-between items-center w-full py-3 px-2 duration-75">
        {% comment %}SIDE MENU TOGGLE AND LOGO{% endcomment %}
        <div class="flex justify-between items-center">
          <div class="relative hidden lg:block mx-3">
            <button onclick="openSideNav()" class="text-text flex justify-center items-center bg-background rounded w-10 h-10 pt-1"><i class="fi fi-rr-menu-burger text-xl"></i></button>
          </div>
          <a href="{% url 'home' %}"><img src="{% static 'articles/img/spacebio.png' %}" alt="" class="h-6 sm:h-8 sm:ms-3" /></a>
        </div>

        {% comment %}SEARCH{% endcomment %}
        <div class="hidden sm:block w-1/2">
          <form class="max-w-md mx-auto">
            <label for="default-search" class="mb-2 text-sm font-medium text-text sr-only">Search</label>
            <div class="relative w-fullflex items-center">
              <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none w-full">
                <i class="fi fi-rr-search text-text/70"></i>
              </div>
              <input type="search" id="default-search" class="block w-full p-4 ps-10 text-sm text-text border-2 border-text/10 rounded-lg bg-background outline-none ring-0 focus:border-spacepurple2" placeholder="Search papers" required />
              <button type="submit" class="absolute end-2.5 bottom-2.5 bg-gradient-to-br from-spaceblue to-spacepurple2 text-white transition-all font-medium rounded-lg text-sm px-4 py-2">Search</button>
            </div>
          </form>
        </div>

        <div class="flex gap-7 me-2 sm:me-6 h-full items-center pt-1">
          {% comment %}THEME TOGGLE{% endcomment %}
          <button id="theme-toggle" type="button" class="text-text transition-all rounded-lg">
            <i id="theme-toggle-dark-icon" class="fi fi-rr-moon-stars h-5 hidden text-xl"></i>
            <i id="theme-toggle-light-icon" class="fi fi-rr-brightness h-5 hidden text-xl"></i>
          </button>

          {% comment %}MOBILE MENU{% endcomment %}
          <div id="mobileMenuWrap" class="relative lg:hidden">
            <a onclick="menuToggle()" class="cursor-pointer text-text flex justify-center items-center rounded w-10 h-10"><i class="fi fi-rr-menu-burger text-2xl text-text/70"></i></a>

            <div id="mobile-menu" data-open="false" class="hidden opacity-0 w-64 right-0 absolute mt-4 border border-spacepurple2/40 bg-primary2 rounded-lg overflow-hidden duration-300 translate-y-10">
              <ul class="flex flex-col gap-2 w-full h-full p-4">
                <a href="{% url 'home' %}" data-url="{% url 'home' %}/">
                  <li class="text-text p-3 hover:bg-secondary rounded-lg">
                    <i class="fi fi-rr-home text-lg me-3"></i>
                    <span class="">Home</span>
                  </li>
                </a>

                <a href="{% url 'launches' %}" data-url="{% url 'launches' %}/">
                  <li class="text-text p-3 hover:hover:bg-secondary rounded-lg">
                    <i class="fi fi-rr-rocket-lunch text-lg me-3"></i>
                    <span class="">Launches</span>
                  </li>
                </a>

                <a href="{% url 'news' %}" data-url="{% url 'news' %}/">
                  <li class="text-text p-3 hover:hover:bg-secondary rounded-lg">
                    <i class="fi fi-rr-newspaper text-lg me-3"></i>
                    <span class="">Space News</span>
                  </li>
                </a>
              </ul>

              <div class="flex w-full gap-5 justify-end items-end py-3 px-3">
                <span class="text-text">Fixed Navbar</span>
                <label class="flex items-center cursor-pointer">
                  <input onclick="navbarToggle(this)" type="checkbox" value="" class="sr-only peer" />
                  <div class="relative w-11 h-6 bg-spacepurple1/40 peer-focus:outline-none rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-gradient-to-br from-spaceblue to-spacepurple2 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-spacepurple1/85"></div>
                </label>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>

    <!-- MAIN CONTENT -->
    <div class="flex h-full min-h-screen w-full">
      <!-- SIDE MENU -->
      <div id="sidenavWrap" class="hidden lg:block sticky left-0 top-0 h-full">
        <aside id="sidenav" data-open="" class="flex bg-primary2 flex-col h-screen justify-between border-e border-primary items-start duration-300 shadow-xl overflow-y-visible">
          <div id="stickyitems" class="w-full">
            <div class="flex justify-start flex-1 text-text py-10 overflow-x-hidden overflow-y-auto">
              {% comment %}LINKS{% endcomment %}
              <ul id="sideItems" class="flex flex-col gap-2 w-full ps-2.5 pe-2 items-stretch justify-start">
                <a href="{% url 'home' %}" data-url="{% url 'home' %}" class="w-full">
                  <li class="flex flex-nowrap justify-start items-center gap-1 ps-1 w-full bg-hover hover:bg-spacepurple1/20 transition-all rounded-lg">
                    <i class="fi fi-rr-home text-xl text-text p-4"></i>
                    <span class="hidden opacity-0 duration-300 text-nowrap">Home</span>
                  </li>
                </a>
                {% comment %} <a href="teste" data-url="teste" class="w-full">
                  <li class="flex flex-nowrap justify-start items-center gap-1 ps-1 w-full bg-hover hover:bg-spacepurple1/20 transition-all rounded-lg">
                    <i class="fi fi-rr-bookq text-xl text-text p-4"></i>
                    <span class="hidden opacity-0 duration-300 text-nowrap">Library</span>
                  </li>
                </a> {% endcomment %}
                <a href="{% url 'launches' %}" data-url="{% url 'launches' %}" class="w-full">
                  <li class="flex flex-nowrap justify-start items-center gap-1 ps-1 w-full bg-hover hover:bg-spacepurple1/20 transition-all rounded-lg">
                    <i class="fi fi-rr-rocket-lunch text-xl text-text p-4"></i>
                    <span class="hidden opacity-0 duration-300 text-nowrap">Launches</span>
                  </li>
                </a>
                <a href="{% url 'news' %}" data-url="{% url 'news' %}" class="w-full">
                  <li class="flex flex-nowrap justify-start items-center gap-1 ps-1 w-full bg-hover hover:bg-spacepurple1/20 transition-all rounded-lg">
                    <i class="fi fi-rr-newspaper text-xl text-text p-4"></i>
                    <span class="hidden opacity-0 duration-300 text-nowrap">News</span>
                  </li>
                </a>
                <li class="flex flex-nowrap justify-start items-center gap-1 ps-1 w-full bg-hover hover:bg-spacepurple1/20 transition-all rounded-lg text-zinc-500 cursor-wait">
                  <i class="fi fi-rr-users-alt text-xl text-text/40 p-4"></i>
                  <span class="hidden opacity-0 duration-300 text-nowrap">Team</span>
                </li>
                <li class="flex flex-nowrap justify-start items-center gap-1 ps-1 w-full bg-hover hover:bg-spacepurple1/20 transition-all rounded-lg text-zinc-500 cursor-wait">
                  <i class="fi fi-rr-list-timeline text-xl text-text/40 p-4"></i>
                  <span class="hidden opacity-0 duration-300 text-nowrap">Time line</span>
                </li>
              </ul>
            </div>
          </div>

          {% comment %}NAVBAR TOGGLE{% endcomment %}
          <div class="flex sticky bottom-5 w-full ps-4 gap-5 justify-start">
            <label class="flex items-center cursor-pointer">
              <input onclick="navbarToggle(this)" type="checkbox" value="" class="sr-only peer" />
              <div class="relative w-11 h-6 bg-spacepurple1/40 peer-focus:outline-none rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-gradient-to-br from-spaceblue to-spacepurple2 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-spacepurple1/85"></div>
            </label>
            <span class="hidden opacity-0 duration-300 text-nowrap text-text/60 font-medium">Fixed Navbar</span>
          </div>
        </aside>
      </div>

      <div class="flex-1 mt-5 sm:mt-0">
        {% comment %}CONTENT{% endcomment %}
        <main class="min-h-screen">
          {% block content %}

          {% endblock %}
        </main>
        {% comment %}FOOTER{% endcomment %}
        <footer class="mt-10 bg-primary2 md:px-10 text-text border-t border-text/20">
          <div class="flex justify-between mb-2 py-2">
            <p class="mb-2 text-xs sm:text-base">About Lupe Project</p>
            <p class="mb-2 text-xs sm:text-base text-right">Powered by Cleydson Silva Since 2017</p>
          </div>

          <div class="flex mx-auto w-3/4">
            <p class="text-xs sm:text-base text-center mb-2 sm:mb-4 text-green-500">The Lupe Project's mission is to advance understanding of all researches outside Earth by providing exceptional access the space literature as a way smart through Artificial Intelligence and Machine Intelligence.</p>
          </div>

          <div class="flex items-center justify-between px-4 sm:px-8">
            <img class="w-12 sm:w-20" src="{% static 'articles/img/fig1.png' %}" alt="" />
            <img class="w-20 sm:w-36" src="{% static 'articles/img/spacebio.png' %}" alt="" />
          </div>

          <div class="flex gap-2 mt-4 text-3xl items-center justify-center">
            <div class="header-icons flex gap-2 sm:gap-6 pb-2 sm:pb-3">
              <a href=""><img src="{% static 'icons/researchgate.svg' %}" alt="reasearchgate" class="transform transition-transform hover:scale-110 hover:translate-y-[-8px] w-6 h-6 sm:w-8 sm:h-8"></a>
              <a href=""><img src="{% static 'icons/google-scholar.svg' %}" alt="google-scholar" class="transform transition-transform hover:scale-110 hover:translate-y-[-8px] w-6 h-6 sm:w-8 sm:h-8"></a>
              <a href=""><img src="{% static 'icons/linkedin.svg' %}" alt="linkedin" class="transform transition-transform hover:scale-110 hover:translate-y-[-8px] w-6 h-6 sm:w-8 sm:h-8"></a>
              <a href=""><img src="{% static 'icons/twitter.svg' %}" alt="twitter" class="transform transition-transform hover:scale-110 hover:translate-y-[-8px] w-6 h-6 sm:w-8 sm:h-8"></a>
              <a href=""><img src="{% static 'icons/github.svg' %}" alt="github" class="transform transition-transform hover:scale-110 hover:translate-y-[-8px] w-6 h-6 sm:w-8 sm:h-8"></a>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </body>
  <script src="{% static 'js/footer_basehtml.js' %}"></script>
</html>
