{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SpaceBio</title>
    <link rel="icon" href="{% static 'articles/img/fig1.png' %}" />
    <!-- TAILWIND CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />

    <!-- JAVASCRIPT -->
    <script src="{% static 'js/header_basehtml.js' %}"></script>

    <!-- FLATICON ICONS -->
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/2.2.0/uicons-regular-rounded/css/uicons-regular-rounded.css" />

    <!-- NUNITO FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">

    <!-- SPLIDE CSS -->
    <link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/themes/splide-sea-green.min.css" rel="stylesheet" />

    <!-- Google Tag Manager -->
    <script>
      ;(function (w, d, s, l, i) {
        w[l] = w[l] || []
        w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' })
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : ''
        j.async = true
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl
        f.parentNode.insertBefore(j, f)
      })(window, document, 'script', 'dataLayer', 'GTM-W8KZ5MHP')
    </script>
    <!-- End Google Tag Manager -->
  </head>

  <body class="font-nunito flex flex-col h-full bg-background duration-500">
    <!-- NAVBAR -->
    <div id="navWrap" class="top-0 w-full z-10">
      <nav id="navbar" class="backdrop-blur border-b bg-primary2/75 border-text/15 flex justify-between items-center w-full py-3 px-2 duration-75">
        {% comment %}SIDE MENU TOGGLE AND LOGO{% endcomment %}
        <div class="flex justify-between items-center">
          <div class="relative hidden lg:block mx-3">
            <button onclick="openSideNav()" class="text-text flex justify-center items-center bg-background rounded w-10 h-10 pt-1"><i class="fi fi-rr-menu-burger text-xl"></i></button>
          </div>
          <a href="{% url 'home' %}"><img src="{% static 'articles/img/spacebio.png' %}" alt="" class="h-6 sm:h-8 sm:ms-3" /></a>
        </div>

        {% comment %}SEARCH{% endcomment %}

        <div class="flex gap-7 me-2 sm:me-6 h-full items-center pt-1">
          {% comment %}THEME TOGGLE{% endcomment %}
          <button id="theme-toggle" type="button" class="text-text transition-all rounded-lg">
            <i id="theme-toggle-dark-icon" class="fi fi-rr-moon-stars h-5 hidden text-xl"></i>
            <i id="theme-toggle-light-icon" class="fi fi-rr-brightness h-5 hidden text-xl"></i>
          </button>

          {% comment %}MOBILE MENU{% endcomment %}
          <div id="mobileMenuWrap" class="relative lg:hidden">
            <a onclick="menuToggle()" class="cursor-pointer text-text flex justify-center items-center rounded w-10 h-10"><i class="fi fi-rr-menu-burger text-2xl text-text/70"></i></a>

            <div id="mobile-menu" data-open="false" class="hidden opacity-0 w-64 right-0 absolute mt-4 border border-spacepurple2/40 bg-primary2 rounded-lg overflow-hidden duration-300 translate-y-10">
              <ul class="flex flex-col gap-2 w-full h-full p-4">
                <a href="{% url 'home' %}" data-url="{% url 'home' %}/">
                  <li class="text-text p-3 hover:bg-secondary rounded-lg">
                    <i class="fi fi-rr-home text-lg me-3"></i>
                    <span class="">Home</span>
                  </li>
                </a>

                <a href="{% url 'launches' %}" data-url="{% url 'launches' %}/">
                  <li class="text-text p-3 hover:hover:bg-secondary rounded-lg">
                    <i class="fi fi-rr-rocket-lunch text-lg me-3"></i>
                    <span class="">Launches</span>
                  </li>
                </a>

                <a href="{% url 'news' %}" data-url="{% url 'news' %}/">
                  <li class="text-text p-3 hover:hover:bg-secondary rounded-lg">
                    <i class="fi fi-rr-newspaper text-lg me-3"></i>
                    <span class="">Space News</span>
                  </li>
                </a>
              </ul>

              <div class="flex w-full gap-5 justify-end items-end py-3 px-3">
                <span class="text-text">Fixed Navbar</span>
                <label class="flex items-center cursor-pointer">
                  <input onclick="navbarToggle(this)" type="checkbox" value="" class="sr-only peer" />
                  <div class="relative w-11 h-6 bg-spacepurple1/40 peer-focus:outline-none rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-gradient-to-br from-spaceblue to-spacepurple2 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-spacepurple1/85"></div>
                </label>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>

    <!-- MAIN CONTENT -->
    <div class="flex h-full min-h-screen w-full">
      <!-- SIDE MENU -->
      <div id="sidenavWrap" class="hidden lg:block sticky left-0 top-0 h-full">
        <aside id="sidenav" data-open="" class="flex bg-primary2 flex-col h-screen justify-between border-e border-primary items-start duration-300 shadow-xl overflow-y-visible">
          <div id="stickyitems" class="w-full">
            <div class="flex justify-start flex-1 text-text py-10 overflow-x-hidden">
              {% comment %}LINKS{% endcomment %}
              <ul id="sideItems" class="flex flex-col gap-1 w-full ps-2.5 pe-2 items-stretch justify-start">
                <div class="w-2/3 place-self-center h-0.5 bg-gradient-to-r from-text/5 via-text/60 to-text/5"></div>
                <a href="{% url 'home' %}" data-url="{% url 'home' %}" class="w-full">
                  <li class="relative group flex flex-nowrap justify-start items-center gap-1 ps-2 w-full bg-hover hover:bg-spacepurple1/20 transition-all rounded-lg">
                    <i class="fi fi-rr-home text-xl text-text p-3"></i>
                    <span class="hidden opacity-0 duration-300 text-nowrap">Home</span>
                  </li>
                </a>

                <div class="w-2/3 place-self-center h-0.5 bg-gradient-to-r from-text/5 via-text/60 to-text/5"></div>

                <a href="{% url 'space_literature' %}" data-url="teste" class="w-full">
                  <li class="flex flex-nowrap justify-start items-center gap-1 ps-2 w-full bg-hover hover:bg-spacepurple1/20 transition-all rounded-lg">
                    <i class="fi fi-rr-book text-xl text-text p-3"></i>
                    <span class="hidden opacity-0 duration-300 text-nowrap">Space Literature</span>
                  </li>
                </a>
                <a href="teste" data-url="teste" class="w-full">
                  <li class="flex flex-nowrap justify-start items-center gap-1 ps-2 w-full bg-hover hover:bg-spacepurple1/20 transition-all rounded-lg">
                    <i class="fi fi-rr-microchip-ai text-xl text-text p-3"></i>
                    <span class="hidden opacity-0 duration-300">LupeGPT</span>
                  </li>
                </a>
                <a href="teste" data-url="teste" class="w-full">
                  <li class="flex flex-nowrap justify-start items-center gap-1 ps-2 w-full bg-hover hover:bg-spacepurple1/20 transition-all rounded-lg">
                    <i class="fi fi-rr-api text-xl text-text p-3"></i>
                    <span class="hidden opacity-0 duration-300">Lupe API</span>
                  </li>
                </a>
                <a href="teste" data-url="teste" class="w-full">
                  <li class="flex flex-nowrap justify-start items-center gap-1 ps-2 w-full bg-hover hover:bg-spacepurple1/20 transition-all rounded-lg">
                    <i class="fi fi-rr-chart-histogram text-xl text-text p-3"></i>
                    <span class="hidden opacity-0 duration-300">Lupe Stats</span>
                  </li>
                </a>
                <div class="w-2/3 place-self-center h-0.5 bg-gradient-to-r from-text/5 via-text/60 to-text/5"></div>
                <a href="{% url 'spacebiotv_view' %}" data-url="{% url 'spacebiotv_view' %}" class="w-full">
                  <li class="flex flex-nowrap justify-start items-center gap-1 ps-2 w-full bg-hover hover:bg-spacepurple1/20 transition-all rounded-lg">
                    <i class="fi fi-rr-tv-retro text-xl text-text p-3"></i>
                    <span class="hidden opacity-0 duration-300">Spacebio TV</span>
                  </li>
                </a>
                <a href="{% url 'stellarium_view' %}" data-url="{% url 'stellarium_view' %}" class="w-full">
                  <li class="flex flex-nowrap justify-start items-center gap-1 ps-2 w-full bg-hover hover:bg-spacepurple1/20 transition-all rounded-lg">
                    <i class="fi fi-rr-galaxy-alt text-text p-3"></i>
                    <span class="hidden opacity-0 duration-300 text-nowrap">The Universe</span>
                  </li>
                </a>
                <a href="{% url 'launches' %}" data-url="{% url 'launches' %}" class="w-full">
                  <li class="flex flex-nowrap justify-start items-center gap-1 ps-2 w-full bg-hover hover:bg-spacepurple1/20 transition-all rounded-lg">
                    <i class="fi fi-rr-rocket-lunch text-xl text-text p-3"></i>
                    <span class="hidden opacity-0 duration-300 text-nowrap">Launches</span>
                  </li>
                </a>
                <a href="{% url 'news' %}" data-url="{% url 'news' %}" class="w-full">
                  <li class="flex flex-nowrap justify-start items-center gap-1 ps-2 w-full bg-hover hover:bg-spacepurple1/20 transition-all rounded-lg">
                    <i class="fi fi-rr-newspaper text-xl text-text p-3"></i>
                    <span class="hidden opacity-0 duration-300 text-nowrap">News</span>
                  </li>
                </a>
                <div class="w-2/3 place-self-center h-0.5 bg-gradient-to-r from-text/5 via-text/60 to-text/5"></div>
                <a href="{% url 'team_view' %}" data-url="{% url 'team_view' %}" class="w-full">
                  <li class="flex flex-nowrap justify-start items-center gap-1 ps-2 w-full bg-hover hover:bg-spacepurple1/20 transition-all rounded-lg">
                    <i class="fi fi-rr-users-alt text-xl text-text p-3"></i>
                    <span class="hidden opacity-0 duration-300 text-nowrap">Team</span>
                  </li>
                </a>
                <a href="{% url 'timeline_view' %}" data-url="{% url 'timeline_view' %}" class="w-full">
                  <li class="flex flex-nowrap justify-start items-center gap-1 ps-2 w-full bg-hover hover:bg-spacepurple1/20 transition-all rounded-lg">
                    <i class="fi fi-rr-list-timeline text-xl text-text p-3"></i>
                    <span class="hidden opacity-0 duration-300 text-nowrap">Timeline</span>
                  </li>
                </a>
                <a href="{% url 'getInvolved_view' %}" data-url="{% url 'getInvolved_view' %}" class="w-full">
                  <li class="flex flex-nowrap justify-start items-center gap-1 ps-2 w-full bg-hover hover:bg-spacepurple1/20 transition-all rounded-lg">
                    <i class="fi fi-rr-refer text-xl text-text p-3"></i>
                    <span class="hidden opacity-0 duration-300 text-nowrap">Get Involved</span>
                  </li>
                </a>
                <div class="w-2/3 place-self-center h-0.5 bg-gradient-to-r from-text/5 via-text/60 to-text/5"></div>
              </ul>
            </div>
          </div>

          {% comment %}NAVBAR TOGGLE{% endcomment %}
          <div class="flex sticky bottom-5 w-full ps-4 gap-5 justify-start">
            <label class="flex items-center cursor-pointer">
              <input onclick="navbarToggle(this)" type="checkbox" value="" class="sr-only peer" />
              <div class="relative w-11 h-6 bg-spacepurple1/40 peer-focus:outline-none rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-gradient-to-br from-spaceblue to-spacepurple2 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-spacepurple1/85"></div>
            </label>
            <span class="hidden opacity-0 duration-300 text-nowrap text-text/60 font-medium">Fixed Navbar</span>
          </div>
        </aside>
      </div>

      <div class="flex-1">
        {% comment %}CONTENT{% endcomment %}
        <main class="min-h-screen">
          {% block content %}

          {% endblock %}
        </main>
        {% comment %}FOOTER{% endcomment %}
        <footer class="mt-10 bg-primary2 md:px-10 text-text border-t border-text/20">
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
            {% comment %}ABOUT{% endcomment %}
            <div class="flex flex-col rounded-xl my-6 p-4 border border-text/20">
              <p class="mb-2 text-xs sm:text-base">About Lupe Project</p>
              <img class="w-2/5 place-self-center" src="{% static 'articles/img/fig2.png' %}" alt="" />

              <p class="mb-2 text-xs sm:text-base">The Lupe Project's mission is to advance understanding of all researches outside Earth by providing exceptional access the space literature as a way smart through Artificial Intelligence and Machine Intelligence.</p>
            </div>

            {% comment %}RECENT ARTICLES{% endcomment %}
            <div class="flex flex-col rounded-xl my-6 p-4 border border-text/20">
              <p class="mb-4 text-xs sm:text-base">Recent Articles</p>
              <ul class="flex flex-col h-full">
                {% for article in recent_articles %}
                  <a href="" class="w-full">
                    <li class="flex flex-nowrap justify-start items-center gap-1 ps-1 w-full bg-hover hover:bg-spacepurple1/20 rounded-lg">
                      <i class="fi fi-rr-newspaper text-xl text-text p-4"></i>
                      <span class="">{{ article.title }}</span>
                    </li>
                  </a>
                {% endfor %}
              </ul>
            </div>

            {% comment %}MAP{% endcomment %}
            <div class="rounded-xl my-6 p-4 border w-full border-text/20 text-text flex flex-col">
              <p class="">Live Access</p>
              <div class="flex justify-center items-center h-full">
                <div class="w-2/3 p-2">
                  <script type="text/javascript" src="//rf.revolvermaps.com/0/0/8.js?i=5rmb1qk8bht&amp;m=2&amp;c=ff0000&amp;cr1=ffffff&amp;f=arial&amp;l=33&amp;v0=50&amp;z=11" async="async"></script>
                </div>
              </div>
            </div>
            {% comment %}SUPPORT{% endcomment %}
            <div class="rounded-xl my-6 p-4 border w-full border-text/20 text-text flex flex-col">
              <p class="">Support</p>
              <div class="flex h-full gap-4">
                <span class="flex justify-center items-center size-1/3 rounded-full overflow-hidden shadow-lg shadow-spacepurple2/40"><img src="{% static 'articles/img/spacebio.png' %}" alt="" class="w-4/5" /></span>
                <span class="flex justify-center items-center size-1/3 rounded-full overflow-hidden shadow-lg shadow-spaceblue/40"><img src="https://genelab.nasa.gov/sites/default/files/2023-03/new%20GL%20logo_social%20media_b_0.JPG" alt="" class="w-4/5 rounded-full" /></span>
                <span class="flex justify-center items-center size-1/3 rounded-full overflow-hidden shadow-lg shadow-spacepurple2/40"><img src="{% static 'articles/img/stellarium.png' %}" alt="" class="w-4/5" /></span>
              </div>
            </div>
          </div>

          {% comment %}SOCIAL ICONS{% endcomment %}
          <div class="flex flex-col gap-2 text-3xl items-center justify-center w-full">
            <div class="header-icons flex gap-2 sm:gap-6 pb-2 sm:pb-3">
              <a href="https://www.researchgate.net/profile/Jose-Cleydson-Silva" target="_blank"><img src="{% static 'icons/researchgate.svg' %}" alt="reasearchgate" class="transform transition-transform hover:scale-110 hover:translate-y-[-8px] w-6 h-6 sm:w-8 sm:h-8" /></a>

              <a href="https://scholar.google.com.br/citations?user=RDTNcYkAAAAJ" target="_blank"><img src="{% static 'icons/google-scholar.svg' %}" alt="google-scholar" class="transform transition-transform hover:scale-110 hover:translate-y-[-8px] w-6 h-6 sm:w-8 sm:h-8" /></a>

              <a href="https://www.linkedin.com/in/jose-cleydson-ferreira-silva-a790b617b/" target="_blank"><img src="{% static 'icons/linkedin.svg' %}" alt="linkedin" class="transform transition-transform hover:scale-110 hover:translate-y-[-8px] w-6 h-6 sm:w-8 sm:h-8" /></a>

              <a href="https://twitter.com/cleysinhonv" target="_blank"><img src="{% static 'icons/twitter.svg' %}" alt="twitter" class="transform transition-transform hover:scale-110 hover:translate-y-[-8px] w-6 h-6 sm:w-8 sm:h-8" /></a>

              <a href="https://github.com/jcleydsonsilva" target="_blank"><img src="{% static 'icons/github.svg' %}" alt="github" class="transform transition-transform hover:scale-110 hover:translate-y-[-8px] w-6 h-6 sm:w-8 sm:h-8" /></a>
            </div>
            <p class="mb-4 text-xs sm:text-base">Powered by Cleydson Silva since 2017</p>
          </div>
        </footer>
      </div>
    </div>
  </body>
  <script src="{% static 'js/footer_basehtml.js' %}"></script>
  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W8KZ5MHP" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->
</html>
