{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>eCommerce Dashboard | TailAdmin - Tailwind CSS Admin Dashboard Template</title>
    <link rel="icon" href="{% static 'articles/img/fig1.png' %}" />
    <!-- TAILWIND CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <!-- FONTAWESOME ICONS -->
    <script src="https://kit.fontawesome.com/4a37dd3233.js" crossorigin="anonymous"></script>
    <!-- SPLIDE CSS -->
    <link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/themes/splide-sea-green.min.css" rel="stylesheet" />
  </head>
  <body class="bg-zinc-300">
    {% comment %} {% include 'dashboard/partials/preloader.html' %} {% endcomment %}

    <!-- SIDE MENU -->
    <div class="hidden md:block fixed h-screen p-6">
      <aside id="sidenav" class="relative flex flex-col py-4 justify-between items-center w-24 duration-300 h-full bg-zinc-100 rounded-xl shadow-">
        <button onclick="openNav()" class="absolute top-16 -right-3"><i id="navArrow" class="fas fa-arrow-right text-xl text-black bg-white rounded-full border border-zinc-400 p-1"></i></button>

        <div class="flex w-full ps-7 justify-start gap-2 items-center h-20 overflow-hidden">
          <span class=""><i class="fas fa-home text-xl p-1.5 border-2 rounded-xl"></i></span>
          <img src="{% static 'articles/img/spacebio.png' %}" alt="" id="sidebarImg" class="hidden w-3/4" />
        </div>

        <div class="flex w-full justify-start flex-1 py-10 px-9 overflow-x-hidden overflow-y-auto">
          <ul id="sideItems" class="flex flex-col gap-12 w-full font-semibold">
            <li class="flex flex-nowrap text-xl items-center gap-7">
              <i class="fas fa-home w-5 min-w-max"></i>
              <span class="opacity-0 duration-300 text-nowrap">Home</span>
            </li>
            <li class="flex flex-nowrap text-xl items-center gap-7">
              <i class="fas fa-rocket w-5"></i>
              <span class="opacity-0 duration-300 text-nowrap">Launches</span>
            </li>
            <li class="flex flex-nowrap text-xl items-center gap-7">
              <i class="fas fa-newspaper w-5"></i>
              <span class="opacity-0 duration-300 text-nowrap">News</span>
            </li>
            <li class="flex flex-nowrap text-xl items-center gap-7 text-zinc-500 cursor-wait">
              <i class="fas fa-users w-5"></i>
              <span class="opacity-0 duration-300 text-nowrap">Team</span>
            </li>
            <li class="flex flex-nowrap text-xl items-center gap-7 text-zinc-500 cursor-wait">
              <i class="fas fa-timeline w-5"></i>
              <span class="opacity-0 duration-300 text-nowrap">Time line</span>
            </li>
          </ul>
        </div>

        <div class="flex w-full ps-5.5 justify-start">
          <label class="inline-flex items-center cursor-pointer">
            <input onclick="navbarToggle()" type="checkbox" value="" class="sr-only peer" />
            <div class="relative w-11 h-6 bg-purple-500 peer-focus:outline-none rounded-full peer dark:bg-purple-500 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-purple-900"></div>
          </label>
        </div>
      </aside>
    </div>

    <div class="flex">
      <!-- SIDE MENU SPACEMENT -->
      <div id="spacer" class="hidden md:block w-28 duration-300"></div>

      <div id="wrapper" class="ms-6 flex-1 duration-300">
        <!-- NAVBAR -->
        <div id="navWrap" class="top-0 w-full pe-6 pt-3">
          <nav id="navbar" class="backdrop-blur-2xl border-zinc-100 flex justify-between w-full h-20 p-5 rounded-xl duration-300">
            <div class="">
              <img src="{% static 'articles/img/spacebio.png' %}" alt="" class="w-50" />
            </div>

            <div class="flex justify-center">
              <ul class="flex gap-10 items-center font-semibold text-lg">
                <li class="">
                  <a href="">Home</a>
                </li>
                <li>
                  <a href="">Articles</a>
                </li>
                <li>
                  <a href="">Launches</a>
                </li>
              </ul>
            </div>

            <label class="inline-flex items-center cursor-pointer">
              <input type="checkbox" value="" class="sr-only peer" />
              <div class="relative w-11 h-6 bg-purple-500 peer-focus:outline-none rounded-full peer dark:bg-purple-500 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-purple-900"></div>
            </label>
          </nav>
        </div>

        <!-- MAIN CONTENT -->
        <main class="rounded-xl my-6 me-6">
          {% block content %}

          {% endblock %}
        </main>
      </div>
    </div>
  </body>
  <script>
    function openNav() {
      document.getElementById('sidenav').classList.toggle('w-20')
      document.getElementById('sidenav').classList.toggle('w-72')
      document.getElementById('spacer').classList.toggle('w-28')
      document.getElementById('spacer').classList.toggle('w-80')
      document.getElementById('wrapper').classList.toggle('ms-6')
      document.getElementById('wrapper').classList.toggle('ms-2')
      document.getElementById('sidebarImg').classList.toggle('hidden')
      document.getElementById('navArrow').classList.toggle('rotate-180')
      const spans = document.querySelectorAll('#sideItems li span')
      spans.forEach((span) => {
        span.classList.toggle('opacity-0')
        span.classList.toggle('opacity-100')
        span.classList.toggle('delay-200')
      })
    }
    function navbarToggle() {
      document.getElementById('navWrap').classList.toggle('sticky')
      document.getElementById('navbar').classList.toggle('bg-zinc-100/40')
      document.getElementById('navbar').classList.toggle('shadow-md')
      document.getElementById('navbar').classList.toggle('border-2')
    }
  </script>
</html>
