{% extends 'base.html' %}
{% load static highlight_keywords %}
{% block content %}
  <!-- Breadcrumb Start -->
  <div class="mb-6 flex flex-wrap gap-3 text-sm sm:text-base justify-between items-center">
    <h2 class="font-bold w-1/2 text-text text-xl sm:text-2xl">Articles</h2>

    <nav>
      <ol class="flex items-center gap-2">
        <li>
          <a class="font-medium text-text" href="{% url 'home' %}">SpaceBio /</a>
        </li>
        <li class="font-medium text-text/60">Articles</li>
      </ol>
    </nav>
  </div>
  <!-- Breadcrumb End -->

  <div class="rounded-sm pb-2.5 pt-6 shadow-default sm:px-7.5 xl:pb-1">
    {% if result_count %}
      <h4 class="mb-6 text-lg font-bold text-text">{{ result_count }} results found for terms <span class="text-green-500">{{ query }}</span></h4>
    {% else %}
      <h4 class="mb-6 text-lg font-bold text-text">0 results found for terms <span class="text-green-500">{{ query }}</span></h4>
    {% endif %}

    <div class="flex flex-col pb-5 gap-4 sm:gap-10">
      {% if articles %}
        {% for article in articles %}
          <div class="grid grid-flow-row gap-4 p-4 rounded-lg shadow-lg bg-primary text-text">
            <div class="">
              <h2 class="sm:text-lg md:text-xl my-auto text-center mb-3 text-blue-500">{{ article.title|highlight_keywords:query }}</h2>
              <p class="text-sm">{{ article.authorstring }}</p>
            </div>

            <div class="row-span-2">
              <p class="text-text/50 mb-2">{{ article.title|highlight_keywords:query }}</p>
              <p class="text-sm">{{ article.abstract|highlight_keywords:query }}</p>
            </div>

            <div class="text-sm">
              <h4 class="text-base mb-2">Information</h4>
              <p>
                Journal: {{ article.journaltitle }}{% if article.journalvolume %}
                  Vol. {{ article.journalvolume }}
                {% endif %}
              </p>
              <p>Publication date: {{ article.pubyear }}</p>
              <p>ISSN: {{ article.journalissn }}</p>
              <p>doi: {{ article.doi }}</p>
            </div>
          </div>
        {% endfor %}

        <nav class="flex justify-center mt-4">
          <ul class="flex justify-center list-none items-center gap-x-2">
            {% if articles.has_previous %}
              <li class="p-1 rounded bg-gray-800 hover:bg-spacepurple1"><a href="?query={{ query }}&page={{ articles.previous_page_number }}" class="text-blue-500">&laquo; Previous</a></li>
            {% endif %}
            <li><span class="text-text/75">Page {{ articles.number }} of {{ articles.paginator.num_pages }}</span></li>
            {% if articles.has_next %}
              <li class="p-1 rounded bg-gray-800 hover:bg-spacepurple1"><a href="?query={{ query }}&page={{ articles.next_page_number }}" class="text-blue-500">Next &raquo;</a></li>
            {% endif %}
          </ul>
        </nav>
      {% endif %}
    </div>
  </div>
{% endblock %}
