{% extends 'base.html' %}
{% load static date_format humanize %}
{% block content %}
  <div class="flex flex-col container mx-auto py-10">
    <h1 class="text-text text-2xl uppercase text-center my-5 font-pavelt">Get Involved with SpaceBio</h1>
    <div class="flex flex-wrap gap-8 items-stretch mt-10">
      <!-- Join Our Team -->
      <div class=" flex flex-col justify-between items-center bg-primary rounded-lg shadow-xl p-6 text-center grow basis-80">
        <h2 class="text-2xl font-bold mb-4 bg-clip-text text-transparent bg-gradient-to-br from-blue-400 to-green-500">Join Our Team</h2>
        <p class="text-text mb-6 h-full">Are you passionate about space and biology? We're always looking for talented individuals to join our interdisciplinary team.</p>
        {% comment %} <div class="w-40 h-20 flex justify-center items-center text-sky-200 border-2 rounded-lg border-sky-200 shadow-[0_0_2px_#fff,inset_0_0_2px_#fff,0_0_5px_#08f,0_0_15px_#08f,0_0_30px_#08f]">Neon container</div> {% endcomment %}
        <button class="flex justify-center items-center p-2 bg-green-500 border-2 border-green-500 text-white rounded-lg shadow-[0_0_2px_#15803d,inset_0_0_0px_#15803d,0_0_5px_#15803d,0_0_15px_#15803d,0_0_30px_#15803d] hover:shadow-[0_0_2px_#10753b,inset_0_0_0px_#10753b,0_0_5px_#10753b,0_0_15px_#10753b,0_0_30px_#10753b]">Apply Now</button>
      </div>
      <!-- Volunteer Opportunities -->
      {% comment %} <div class=" flex flex-col justify-between items-center bg-primary rounded-lg shadow-xl p-6 text-center grow basis-80">
        <h2 class="text-2xl font-bold mb-4 bg-clip-text text-transparent bg-gradient-to-br from-blue-400 to-green-500">Volunteer with Us</h2>
        <p class="text-text mb-6 h-full">Contribute your time and skills to support our research and outreach activities. Volunteers are a vital part of our mission.</p>
        <button class="flex justify-center items-center p-2 bg-green-500 border-2 border-green-500 text-white rounded-lg shadow-[0_0_2px_#15803d,inset_0_0_0px_#15803d,0_0_5px_#15803d,0_0_15px_#15803d,0_0_30px_#15803d] hover:shadow-[0_0_2px_#10753b,inset_0_0_0px_#10753b,0_0_5px_#10753b,0_0_15px_#10753b,0_0_30px_#10753b]">Sign Up</button>
      </div> {% endcomment %}
      <!-- Donate -->
      <div class=" flex flex-col justify-between items-center bg-primary rounded-lg shadow-xl p-6 text-center grow basis-80">
        <h2 class="text-2xl font-bold mb-4 bg-clip-text text-transparent bg-gradient-to-br from-pink-500 to-indigo-500">Support Our Mission</h2>
        <p class="text-text mb-6 h-full">Your financial contributions help us advance our research and educational initiatives. Every donation makes a difference.</p>
        <button class="flex justify-center items-center p-2 bg-purple-500 text-white border-2 rounded-lg border-purple-500 shadow-[0_0_2px_#7c3af9,inset_0_0_2px_#7c3af9,0_0_5px_#7c3af9,0_0_15px_#7c3af9,0_0_30px_#7c3af9] hover:shadow-[0_0_2px_#6734e3,inset_0_0_2px_#6734e3,0_0_5px_#6734e3,0_0_15px_#6734e3,0_0_30px_#6734e3]">Donnate Now</button>
      </div>
      <!-- Attend Events -->
      {% comment %} <div class=" flex flex-col justify-between items-center bg-primary rounded-lg shadow-xl p-6 text-center grow basis-80">
        <h2 class="text-2xl font-bold mb-4 bg-clip-text text-transparent bg-gradient-to-br from-pink-500 to-indigo-500">Attend Our Events</h2>
        <p class="text-text mb-6 h-full">Participate in our workshops, webinars, and conferences. Stay updated on upcoming events and join us in person or online.</p>
        <button class="flex justify-center items-center p-2 bg-purple-500 text-white border-2 rounded-lg border-purple-500 shadow-[0_0_2px_#7c3af9,inset_0_0_2px_#7c3af9,0_0_5px_#7c3af9,0_0_15px_#7c3af9,0_0_30px_#7c3af9] hover:shadow-[0_0_2px_#6734e3,inset_0_0_2px_#6734e3,0_0_5px_#6734e3,0_0_15px_#6734e3,0_0_30px_#6734e3]">View Events</button>
      </div> {% endcomment %}
      <!-- Collaborate with Us -->
      <div class=" flex flex-col justify-between items-center bg-primary rounded-lg shadow-xl p-6 text-center grow basis-80">
        <h2 class="text-2xl font-bold mb-4 bg-clip-text text-transparent bg-gradient-to-br from-sky-300 to-blue-700">Collaborate with Us</h2>
        <p class="text-text mb-6 h-full">We partner with academic institutions, industry leaders, and other organizations to push the boundaries of space biology. Let's work together.</p>
        <button class="flex justify-center items-center p-2 text-white bg-blue-500 border-2 rounded-lg border-blue-500 shadow-[0_0_2px_#0088ff,inset_0_0_2px_#0088ff,0_0_5px_#0079ff,0_0_15px_#0079ff,0_0_30px_#0079ff] hover:shadow-[0_0_2px_#0066ff,inset_0_0_2px_#0066ff,0_0_5px_#0066ff,0_0_15px_#0066ff,0_0_30px_#0066ff]">Contact Us</button>
      </div>
      <!-- Subscribe to Newsletter -->
      {% comment %} <div class=" flex flex-col justify-between items-center bg-primary rounded-lg shadow-xl p-6 text-center grow basis-80">
        <h2 class="text-2xl font-bold mb-4 bg-clip-text text-transparent bg-gradient-to-br from-sky-300 to-blue-700">Stay Informed</h2>
        <p class="text-text mb-6 h-full">Subscribe to our newsletter for the latest news, research updates, and event announcements. Be a part of our journey.</p>
        <button class="flex justify-center items-center p-2 text-white bg-blue-500 border-2 rounded-lg border-blue-500 shadow-[0_0_2px_#0088ff,inset_0_0_2px_#0088ff,0_0_5px_#0079ff,0_0_15px_#0079ff,0_0_30px_#0079ff] hover:shadow-[0_0_2px_#0066ff,inset_0_0_2px_#0066ff,0_0_5px_#0066ff,0_0_15px_#0066ff,0_0_30px_#0066ff]">Subscribe</button>
      </div> {% endcomment %}
      <!-- Follow Us on Social Media -->
      {% comment %} <div class=" flex flex-col justify-between items-center bg-primary rounded-lg shadow-xl p-6 text-center grow basis-80">
        <h2 class="text-2xl font-bold mb-4 bg-clip-text text-transparent bg-gradient-to-br from-orange-400 to-red-700">Connect on Social Media</h2>
        <p class="text-text mb-6 h-full">Follow us on social media platforms to get real-time updates, participate in discussions, and share your thoughts with our community.</p>

        <button class="flex justify-center items-center p-2 bg-orange-500 text-white border-2 rounded-lg border-orange-500 shadow-[0_0_2px_#f97311,inset_0_0_2px_#f97311,0_0_5px_#f97311,0_0_15px_#f97311,0_0_30px_#f97311] hover:shadow-[0_0_2px_#e36726,inset_0_0_2px_#e36726,0_0_5px_#e36726,0_0_15px_#e36726,0_0_30px_#e36726]">Follow Us</button>
      </div> {% endcomment %}
    </div>
  </div>
  <script src="{% static 'js/launch_time.js' %}"></script>
  <script src="{% static 'js/type_effect.js' %}"></script>
  {% include 'articles/slider_build.html' %}
{% endblock %}
