{% extends 'base.html' %}
{% load static date_format humanize %}
{% block content %}
  <section class="flex flex-col container mx-auto">
    <div class="px-2 py-5 sm:py-8 md:pb-12 md:pt-3 flex flex-col gap-4 items-center text-text">
      <p class="mb-2 text-center sm:mt-2 font-pavelt">The First Space Exploration Literature Database focused on human space exploration</p>

      <img class="" src="{% static 'articles/img/Figure.png' %}" alt="" />
      <p class="text-sm sm:text-base text-center text-text mt-2">Write a short sentence to select papers, for example, Growing plants at the International Space Station, and press enter.</p>

      <form action="{% url 'articles' %}" method="GET" class="mt-2 relative group w-full min-[390px]:px-1 sm:max-w-xl md:max-w-2xl lg:max-w-3xl xl:max-w-4xl">
        <div class="absolute -inset-0.5 rounded-2xl blur bg-gradient-to-r from-spacepurple1 to-spacepurple2 opacity-55 group-hover:opacity-100 group-hover:duration-200 transition duration-1000 overflow-hidden">
          <div class="w-full h-48 bg-spaceblue blur-xl animate-rotating"></div>
        </div>

        <div class="relative flex justify-between items-stretch w-full bg-primary2 rounded-2xl p-2 border-2 ring-1 ring-text/40 border-text/40 bg-clip-padding">
          <input class="w-full bg-primary2 font-medium sm:text-lg placeholder:text-text/60 placeholder:font-medium sm:placeholder:text-lg p-4 sm:p-3 outline-none" type="text" placeholder="" name="query" minlength="2" required />
          <button type="submit" class="pt-1 sm:pb-1.5 px-5 rounded-xl bg-gradient-to-br from-spaceblue to-spacepurple2 text-white transition-all font-medium"><span class="hidden sm:block">Search</span><i class="fi fi-rr-search sm:hidden"></i></button>
        </div>
      </form>

      <div class="relative flex py-3 rounded-xl mb-12">
        <div class="absolute -z-20 -bottom-10 left-1/2 w-20 h-20 sm:w-32 md:w-60 rounded-full blur-3xl bg-spaceblue animate-blob"></div>
        <div class="absolute -z-20 -bottom-10 right-1/2 w-20 h-20 sm:w-32 md:w-60 rounded-full blur-3xl bg-spaceblue animate-blob animation-delay-2000"></div>
        <div class="relative rounded-2xl p-3 mb-3 bg-gradient-to-b from-transparent via-background/70 to-transparent">
          {% comment %} <div style="background-image: url({% static 'articles/img/galaxy1.png' %});" class="absolute w-full h-full top-0 left-0 -z-10 bg-cover bg-center opacity-40"></div> {% endcomment %}
          <p class="text-sm sm:text-base md:text-lg font-bold text-center leading-4 sm:p-3 max-w-6xl">
            With over <span class="text-spacegreen">24014</span> papers on topics such as <span class="text-violet-600">spaceflight, microgravity research, astrobiology, and exoplanet exploration</span>, the Space Exploration Literature Data warehouse is a valuable resource for researchers and enthusiasts alike.
          </p>
        </div>
      </div>
    </div>

    {% comment %}NEXT LAUNCH{% endcomment %}
    <div class="flex flex-col gap-3 mb-16 px-2 sm:mb-32 sm:gap-6 min-[390px]:px-7 lg:px-20">
      <div class="flex justify-between items-center">
        <h2 class="text-lg sm:text-xl md:text-2xl font-semiboldbold text-text uppercase">Next Launchs<i class="ms-4 text-2xl bg-clip-text text-transparent bg-gradient-to-tr from-spaceblue to-pink-500 fi fi-rr-rocket-lunch"></i></h2>
        <a href="{% url 'launches' %}" class="mt-2 border border-text/25 rounded-md hover:border-spacepurple2/70 transition-all py-1 px-1.5 sm:pt-2 md:px-2"><span class="text-text/75 text-sm md:text-base font-medium">View All</span><i class="text-spacepurple2 sm:text-xl fi fi-rr-arrow-right ms-2 align-middle"></i></a>
      </div>
      <div class="grid md:grid-cols-2 grid-cols-1 gap-6 lg:px-6">
        {% for launch in nextspacelaunch %}
          <div class="flex rounded-xl shadow-md bg-primary text-text gap-0 h-48">
            <img src="{{ launch.image }}" alt="" class="w-1/3 object-cover rounded-s-xl h-full" />
            <div class="p-2 sm:p-4 flex flex-col justify-between">
              <span class="rounded text-sm md:text-base text-text">{{ launch.launch_service_provider.name }}</span>
              {% comment %} <span class="text-red-600 font-semibold rounded p-0.5">&circledcirc; Live</span> {% endcomment %}
              <p class="font-semibold sm:text-xl">{{ launch.name }}</p>
              <p class="text-sm sm:text-base line-clamp-2">{{ launch.pad.name }}, {{ launch.pad.location.name }}</p>
              <p class="countdown font-medium sm:text-lg text-spacepurple2" data-launch-date="{{ launch.window_start|date:"m/d/Y" }}"></p>
              <p class="text-sm sm:text-base">Starts at: {{ launch.window_start }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    {% comment %}LATEST NEWS{% endcomment %}
    <div class="flex justify-between items-center mt-4 px-2 min-[390px]:px-7 lg:px-20">
      <h2 class="text-lg sm:text-xl md:text-2xl font-semiboldbold text-text uppercase">Latest News<i class="ms-4 text-2xl bg-clip-text text-transparent bg-gradient-to-tr from-spaceblue to-pink-500 fi fi-rr-newspaper"></i></h2>
      <a href="{% url 'launches' %}" class="mt-2 border border-text/25 rounded-md hover:border-spacepurple2/70 transition-all py-1 px-1.5 sm:pt-2 sm:px-2"><span class="text-text/75 text-sm md:text-base font-medium">View All</span><i class="text-spacepurple2 sm:text-xl fi fi-rr-arrow-right ms-2 align-middle"></i></a>
    </div>

    <div class="relative grid place-content-center mb-16 mt-3 sm:mb-32 sm:px-3 lg:px-16">
      <div class="absolute -z-20 inset-x-0 m-auto w-2/3 h-28 sm:h-60 max-w-lg bg-blue-700/60 blur-[118px]"></div>

      <div class="splide overflow-hidden" id="splide2">
        <div class="splide__track xl:max-w-5xl 2xl:max-w-full">
          <ul class="splide__list flex w-full">
            {% for news in space_news %}
              <li class="splide__slide w-full h-full xl:max-h-80">
                <div onclick="window.open('{{ news.url }}', '_blank')" class="relative group w-full h-full rounded-lg shadow-md overflow-hidden cursor-pointer">
                  <div class="h-60 min-[390px]:min-h-60 min-[390px]:max-h-72 sm:h-72 md:h-64 xl:h-80 w-full">
                    <img src="{{ news.image_url }}" alt="" class="h-full w-full object-cover" />
                  </div>

                  <div class="absolute bottom-0 inset-0 h-full flex flex-col justify-end">
                    <div class="absolute h-1/2 flex flex-col gap-1 justify-end w-full bottom-0 px-4 pb-4 text-white bg-gradient-to-b from-transparent via-black/70 to-black/85 pt-7">
                      <div class="flex flex-col justify-between h-full">
                        <h3 class="text-start sm:text-lg lg:text-xl line-clamp-2 sm:pt-5 md:pt-0 xl:pt-4">{{ news.title }}</h3>
                        <span class="text-white/50 text-xs truncate">{{ news.published_at }} | <a href="{{ news.url }}" class="text-blue-500" target="_blank">{{ news.news_site }}</a></span>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    {% comment %}Highlighted Papers{% endcomment %}
    <div class="flex flex-col lg:flex-row gap-4 w-full">
      <div class="shadow-md rounded-xl m-3 p-1 lg:p-7 min-[390px]:m-6 sm:first-letter:m-7 flex flex-col lg:w-1/2 text-text">
        <p class="my-3 mx-2 text-start uppercase">Most Recent Papers</p>
        <span class="h-px bg-zinc-800 w-full"></span>

        <ol class="list-decimal list-inside">
          <li class="my-4">
            <p class="text-sm font-semibold text-center">
              Paul, Anna-Lisa et al., <a href="" class="text-blue-700 hover:underline">Plants grown in Apollo lunar regolith present stress-associated transcriptomes that inform prospects for lunar exploration.</a> Communications biology 5.1 (2022): 382.
            </p>
          </li>
        </ol>

        <p class="text-sm font-semibold text-center my-4">
          Paul, Anna-Lisa et al., <a href="" class="text-blue-700 hover:underline">Plants grown in Apollo lunar regolith present stress-associated transcriptomes that inform prospects for lunar exploration.</a> Communications biology 5.1 (2022): 382.
        </p>

        <p class="text-sm font-semibold text-center my-4">
          Cottin, Hervé, et al. <a href="" class="text-blue-700 hover:underline">Astrobiology and the possibility of life on earth and elsewhere….</a> Space Science Reviews 209 (2017): 1-42.
        </p>

        <p class="text-sm font-semibold text-center my-4">
          Kobayashi, Kensei, et al. <a href="" class="text-blue-700 hover:underline">Space exposure of amino acids and their precursors during the Tanpopo Mission.</a> Astrobiology 21.12 (2021): 1479-1493.
        </p>

        <p class="text-sm font-semibold text-center my-4">
          Schröder, Christian, et al. <a href="" class="text-blue-700 hover:underline">Amazonian chemical weathering rate derived from stony meteorite finds at Meridiani Planum on Mars.</a> Nature Communications 7.1 (2016): 13459.
        </p>
      </div>

      <div class="p-1 min-[390px]:m-6 lg:w-1/2 text-text">
        <p class="my-5 text-center font-semibold min-[390px]:text-xl">Live Access</p>
        <script type="text/javascript" src="//rf.revolvermaps.com/0/0/8.js?i=5h6ik86yb3o&amp;m=2&amp;c=ff0000&amp;cr1=ffffff&amp;f=arial&amp;l=33&amp;v0=50&amp;z=11" async="async"></script>
      </div>
    </div>
  </section>
  <script src="{% static 'js/launch_time.js' %}"></script>
  <script src="{% static 'js/type_effect.js' %}"></script>
  {% include 'articles/slider_build.html' %}
{% endblock %}
