{% extends 'base.html' %}
{% load static %}
{% block content %}
  <!-- Breadcrumb Start -->
  <div class="mb-6 flex flex-wrap gap-3 text-sm sm:text-base justify-between items-center">
    <h2 class="font-bold w-1/2 text-text text-xl sm:text-2xl">Launches</h2>

    <div>
      <ol class="flex items-center gap-2">
        <li>
          <a class="font-medium text-text" href="{% url 'home' %}">SpaceBio /</a>
        </li>
        <li class="font-medium text-text/60">Launches</li>
      </ol>
    </div>
  </div>
  <!-- Breadcrumb End -->

  <div class="grid md:grid-cols-2 gap-6">
    <div class="bg-primary flex gap-5 rounded-lg shadow-lg text-text">
      <img src="{% static 'articles/img/KAIROS.webp' %}" alt="" class="w-1/3 object-cover rounded-s-lg" />
      <div class="flex flex-col gap-4 py-2">
        <div class="flex flex-col gap-1">
          <h2 class="text-xl font-semibold">Rocket name</h2>
          <p class="text-sm">SpaceX. Description about the rocket</p>
        </div>
        <div class="flex flex-col">
          <span class="text-text font-semibold">00h:00m:00s</span>
          <span class="text-text">02/04/2024, 15:00</span>
        </div>
        <div class="flex gap-10">
          <a href="https://www.spacex.com" class="inline-flex items-center justify-center bg-blue-600/50 gap-2.5 text-text">Link</a>
          <a href="https://www.spacex.com" class="inline-flex items-center justify-center bg-blue-600/50 gap-2.5 text-text">Link</a>
        </div>
      </div>
    </div>

    <div class="bg-primary flex gap-5 rounded-lg shadow-lg text-text">
      <img src="{% static 'articles/img/KAIROS.webp' %}" alt="" class="w-1/3 object-cover rounded-s-lg" />
      <div class="flex flex-col gap-4 py-2">
        <div class="flex flex-col gap-1">
          <h2 class="text-xl font-semibold">Rocket name</h2>
          <p class="text-sm">SpaceX. Description about the rocket</p>
        </div>
        <div class="flex flex-col">
          <span class="text-text font-semibold">00h:00m:00s</span>
          <span class="text-text">02/04/2024, 15:00</span>
        </div>
        <div class="flex gap-10">
          <a href="https://www.spacex.com" class="inline-flex items-center justify-center bg-blue-600/50 gap-2.5 text-text">Link</a>
          <a href="https://www.spacex.com" class="inline-flex items-center justify-center bg-blue-600/50 gap-2.5 text-text">Link</a>
        </div>
      </div>
    </div>
  </div>

  <script>
    {% comment %} var countDownDate = new Date('{{ launchDate }}').getTime()
    
    var x = setInterval(function () {
      var now = new Date().getTime()
    
      var distance = countDownDate - now
    
      var days = Math.floor(distance / (1000 * 60 * 60 * 24))
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60))
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60))
      var seconds = Math.floor((distance % (1000 * 60)) / 1000)
    
      document.getElementById('countdown').innerHTML = days + 'd ' + hours + 'h ' + minutes + 'm ' + seconds + 's '
    
      if (distance < 0) {
        clearInterval(x)
        document.getElementById('countdown').innerHTML = 'Launching!'
      }
    }, 1000) {% endcomment %}
  </script>
{% endblock %}
