{% extends 'base.html' %}
{% load static date_format humanize %}
{% block content %}
  <!-- Breadcrumb Start -->

  <section class="flex flex-col container mx-auto mt-12">
    <div class="flex justify-between items-center flex-wrap gap-3 text-sm sm:text-base mb-6 mt-12 px-2 min-[390px]:px-7 lg:px-20">
      <h2 class="font-bold w-1/2 text-text text-xl sm:text-2xl">Launches</h2>

      <div>
        <ol class="flex items-center gap-2">
          <li>
            <a class="font-medium text-text" href="{% url 'home' %}">SpaceBio /</a>
          </li>
          <li class="font-medium text-text/60">Launches</li>
        </ol>
      </div>
    </div>
    <!-- Breadcrumb End -->
    <div class="grid md:grid-cols-2 gap-6 px-2 min-[390px]:px-7 lg:px-20 mb-20">
      {% for launch in launches %}
        <div class="relative flex gap-5 rounded-lg shadow-lg text-text h-64">
          <img src="{{ launch.image }}" alt="" class="absolute h-full w-full top-0 left-0 object-cover -z-10 rounded-s-lg" />
          <div class="flex flex-col from-black/40 to-transparent justify-between gap-4 py-2">
            <div class="flex flex-col gap-1">
              <h2 class="text-xl font-semibold">{{ launch.launch_service_provider.name }}</h2>
              <p class="text-sm">{{ launch.name }}</p>
            </div>
            <div class="flex flex-col justify-between">
              <p class="countdown text-lg font-medium text-spacepurple2" data-launch-date="{{ launch.window_start|date:"m/d/Y" }}"></p>
              <p class="text-sm sm:text-base">{{ launch.window_start }}</p>
              <p class="text-sm sm:text-base">{{ launch.pad.name }}, {{ launch.pad.location.name }}</p>
            </div>
            <div class="flex gap-10">
              <a href="{{ launch.url }}" target="_blank" class="flex items-center justify-center border border-blue-600/50 text-text px-2 rounded">See more<i class="fi fi-rr-external-link"></i></a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
        <div class="flex justify-center items-center my-4">
            <span class="text-sm text-gray-600 me-3">
                Page {{ launches.number }} of {{ launches.paginator.num_pages }}
            </span>
            <div class="flex items-center space-x-2">
                {% if launches.has_previous %}
                    <a href="?page=1" class="px-3 py-1.5 bg-primary text-text/50 rounded">First</a>
                    <a href="?page={{ launches.previous_page_number }}" class="px-3 py-1.5 bg-primary text-text/50 rounded">Previous</a>
                {% endif %}
                {% for num in launches.paginator.page_range %}
                    {% if launches.number == num %}
                        <span class="px-3 py-1.5 bg-gradient-to-br from-spaceblue to-spacepurple2 rounded text-white max-w-min" >{{ num }}</span>
                    {% elif num > launches.number|add:'-3' and num < launches.number|add:'3' %}
                        <a href="?page={{ num }}" class="px-3 py-1.5 bg-primary text-text/50 rounded">{{ num }}</a>
                    {% endif %}
                {% endfor %}
                {% if launches.has_next %}
                    <a href="?page={{ launches.next_page_number }}" class="px-2 py-1.5 bg-primary text-text/50 rounded">Next</a>
                    <a href="?page={{ launches.paginator.num_pages }}" class="px-3 py-1.5 bg-primary text-text/50 rounded">Last</a>
                {% endif %}
            </div>
        </div>
  </section>
  <script src="{% static 'js/launch_time.js' %}"></script>
{% endblock %}
