{% extends 'base.html' %}
{% load static date_format humanize %}
{% block content %}
<section class="flex flex-col container mx-auto">
<div class="container mx-auto p-4">
    <h1 class="text-3xl font-bold mb-6">Video Gallery</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {% for video in videos %}
        <iframe width="560" height="315" src="https://www.youtube.com/embed/mhJRzQsLZGg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        {% endfor %}
    </div>
</div>
    {% comment %}Highlighted Papers{% endcomment %}
</section>
<script src="{% static 'js/launch_time.js' %}"></script>
<script src="{% static 'js/type_effect.js' %}"></script>
{% include 'articles/slider_build.html' %}
{% endblock %}