@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    [data-theme="light"] {
        --background: 238, 242, 248;
        --primary: 255, 255, 255;
        --primary-2: 255, 255, 255;
        --secondary: 159, 145, 204;
        --contrast: 0, 0, 0;
        --accent: 16, 244, 35;
        --text: 0, 0, 0;
        --purple1: 99, 97, 217;
        --purple2: 138, 5, 255;
        --green: 11, 239, 30;
        --blue: 30, 0, 255;
    }

    [data-theme="dark"] {
        --background: 8, 8, 10;
        --primary: 26, 26, 30;
        --primary-2: 0, 0, 0;
        --secondary: 41, 41, 46;
        --contrast: 255, 255, 255;
        --accent: 16, 244, 35;
        --text: 160, 160, 160;
        --purple1: 99, 97, 217;
        --purple2: 138, 5, 255;
        --green: 11, 239, 30;
        --blue: 30, 0, 255;
    }
}

@layer utilities {
    .animation-delay-2000 {
        animation-delay: 2s;
    }

    .animation-delay-4000 {
        animation-delay: 4s;
    }
}
